 <% if last & ans = question.answers.last %>
 <div class="list-group">
    <div class="list-group-item list-group-item-action flex-column ">
        <div class=" row d-flex w-100 justify-content-between">
            <h5 class="mb-1 col-9">
            <%= link_to question.question , question_path(question)%> </h5>
            <% user1 = User.find(question.user_id) %>
            <small class="text-right">Asked by: <%= user1.name %>
                <%= link_to (image_tag user1.avatar_thumbnail, id: 'avatar') , user_info_path(user1) %>
            </small>
            <small class="text-right pt-3"> <%= time_ago_in_words(question.created_at) %> ago</small>
        </div>
        <p class="mb-1 row col-12"><%= ans.answer %></p>
            <% user2 = User.find(ans.user_id) %>
        <small class="col-1 p-1">Answerd by: <%= user2.name %>
            <%= link_to (image_tag user1.avatar_thumbnail, id: 'avatar') , user_info_path(user1) %>
        </small>
        <small class="col-1 pt-3"> <%= time_ago_in_words(ans.created_at) %> ago</small>
    </div>
</div>  
 <% end %> 
    <%= render 'answers/list_of_answers', question: question  if !last %>
    <%= render 'answers/answer', question: question if user_signed_in? && !last%> 

<%
=begin%>






<br />
<table  >
<tr ><td ><%= link_to question.question , question_path(question)%></td>
    <td>By: <%= User.find(question.user_id).name %></td>
    <td><%= time_ago_in_words(question.created_at) %> ago</td></tr> 
    <% if last & ans = question.answers.last %>
        <tr><td><%= ans.answer %></td>
        <td>By: <%= User.find(ans.user_id).name %></td>
        <td><%= time_ago_in_words(ans.created_at) %> ago</td>
        </tr>
    <% elsif !last %>
        <%= render 'answers/list_of_answers', question: question %>

        <%= render 'answers/answer', question: question if user_signed_in? %>
    <% end %> 
     
</table> 

<%
=end%>

<div> </div>