 <%= render "topics/user_topic" %>

<h1>Topics</h1> 
<% @topics.each do |topi| %> 
<table>
      <tr>
         <th><%= render "topics/follow_button", topic: topi %></th>
         <td><%= link_to 'Similar Questions', topic_path(topi) %> &nbsp; </td>
 <br/>
         <th><%= topi.topic %>(id:<%= topi.id %>)</th>
      </tr>
</table>    
<% end %>
   