<strong><%= link_to "Create Topic" , new_topic_path %> &nbsp;
</strong>
 <%= render "topics/user_topic" %>

<h1>Topics</h1> 
<% @topics.each do |topi| %> 
<table>
      <tr>
         <th><%= render "topics/follow_button", topic: topi %></th>
         <%
=begin%>
 <td><%= link_to 'Similar Questions', topic_path(topi) %> &nbsp; </td> 
<%
=end%>
 <br/>
         <th><%= topi.topic %>(id:<%= topi.id %>)</th>
      </tr>
</table>    

<% end %>
   