<h1>Topics</h1>
   <%
=begin%>
 <%= form( @topics ) do |f| %>
    <%= f.select :topic_id, Topic.all.collect {|p| [p.topic, p.id]} %>
    
   <%=f.submit %>
   <% end %> 
<%
=end%>
 <% @topics.each do |topi| %>
 <%
=begin%>
 <%= topi.select :topic_id, @topics, :id, :topic , include_blank: true%> 
<%
=end%>
    <li><%= topi.topic %>(id:<%= topi.id %>)</li>
    <% end %>
