<table>
    <% @ans = question.answers.paginate(page: params[:page], per_page: 5) %>
    <% @ans.each do |list| %>
<div class="card">
    <div class="card-body ans-pading">
        <div class="card-title"><%= list.answer %> </div>
        <div class="d-flex">
            <% user1 = User.find(list.user_id) %>
            <small class="pd-r-20">
            Answer by: <%= user1.name %>
            <%= render "pages/user_avatar", user: user1 %> </small>
            <small class="pd-r-20 pt-3">
            <%= time_ago_in_words(list.created_at) %> ago </small>
            <small class="pd-r-20"> 
            <%= render "answers/attachment", answer: list %> </small>
        </div>
    </div>
</div>
    <% end%>
</table>

        <%
=begin%>
 <tr>
        <th></th>
        <td>By: <%= User.find(list.user_id).name %></td>
        <td><%= time_ago_in_words(list.created_at) %> ago</td>
        </tr> 
<%
=end%>

    <%= will_paginate @ans %>