<h1>Users Page</h1> 
<strong> Follow them </strong> 

<div class="container">
    <div class="row">
    <% @users.each do |user| %> 
        <div class="col-1 pt-2"> <%= user.name%> </div>
        <% if user == current_user %>
            <div class="col-1 pt-2"> <%= button_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> </div>
        <% else %>
        
            <div class="col-1 pt-2", id="user-<%= user.id %>-button"> <%= render "pages/user_button", user: user %> </div>
        <% end %>
        <div class="col-10"></div>
    <% end %>
    </div>
</div>

<%= will_paginate @users %>